* {
    box-sizing: border-box;
}

body {
    background-color: lightblue;
}

main {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    width: 45%;
    border-radius: 5px;
    margin: 0 auto 1rem auto;
    padding: 1rem;
}

h1 {
    text-align: center;
}

fieldset {
    display: flex;
    flex-direction: column;    
    gap: 0.5rem;
    border-radius: 3px;
}

legend {
    text-align: center;
    color: green;
    font-weight: bolder;
}

fieldset div {
    width: 100%;
}

textarea {
    width: 100%;
    resize: vertical;
}

button {
    padding: 0.35rem 0.5rem;
    border: none;
    border-radius: 3px;
    color: white;
    background-color: green;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}